<div id="page-wrapper" nv-file-drop="" uploader="ftpUploader" filters="queueLimit">
 <div ng-class="{'col-lg-9': ftpUploader.queue.length > 0, 'col-lg-12': ftpUploader.queue.length == 0}" >
  <div class="row">
   <div class="col-lg-7">
    <h4>
     <span ng-repeat="(key, currentPath) in currentPaths">
      <a href="" ng-click="listDirFromIndex(0)" ng-show="key == 0">
       <i class="fa fa-home fa-2x"></i></a>
      <a href="" ng-click="listDirFromIndex(key)" ng-show="key != 0">{{currentPath}} </a> /
     </span>
    </h4>
   </div>
   <div class="col-lg-2">
    <span class="btn btn-theme btn-primary btn-file v-spacer pull-right">
     <i class="fa fa-plus fa-fw"></i> Aggiungi file <input type="file" nv-file-select uploader="ftpUploader" multiple />
    </span>
   </div>
   <div class="col-lg-3">
    <div class="input-group v-spacer">
     <input type="text" class="form-control" ng-model="search" placeholder="Filtra file e cartelle" />
     <span class="input-group-addon">
      <i class="glyphicon glyphicon-search"></i>
     </span>
    </div>  
   </div>
  </div>

  <div class="row" nv-file-over="" uploader="ftpUploader">
   <a class="col-lg2 col-md-2 v-spacer text-center" ng-repeat="(key, folder) in folders | filter:{name:search}" ng-dblclick="list(folder.name)" ng-right-click="openContextMenu($event, key, false)">
    <i class="fa fa-folder fa-5x"></i><br />
    {{folder.name}}
   </a>

   <a class="col-lg2 col-md-2 v-spacer text-center" ng-repeat="(key, file) in files | filter:{name:search}" ng-dblclick="openFile(key)" ng-right-click="openContextMenu($event, key, true)">
    <i class="fa fa-{{file | getIcon:this}} fa-5x"></i><br />
    {{file.name}}
   </a>

   <a class="col-lg2 col-md-2 v-spacer text-center text-success" ng-click="openCreate(false)" data-toggle="modal" data-target="#newWindow">
    <i class="fa fa-folder fa-5x"></i><br /> Nuova cartella
   </a>

   <a class="col-lg2 col-md-2 v-spacer text-center text-success" ng-click="openCreate(true)" data-toggle="modal" data-target="#newWindow">
    <i class="fa fa-file fa-5x"></i><br /> Nuovo file
   </a>

  </div>
</div>
 
 <div class="v-spacer" ng-class="{'col-lg-3': ftpUploader.queue.length > 0 && !ftpUploader.isUploading, 'hide': ftpUploader.queue.length == 0 || ftpUploader.isUploading}" >
  <div class="panel panel-default" ng-show="ftpUploader.queue.length > 0">
   <ul class="list-group">
    <li class="list-group-item" ng-repeat="(key, attachment) in ftpUploader.queue">
     <span ng-bind="attachment.file.name"></span>
     <button type="button" ng-click="attachment.remove()" class="btn btn-danger btn-xs pull-right">
      <span class="glyphicon glyphicon-trash"></span>
     </button>
    </li>
   </ul>
   <div class="panel-footer">
    <button type="button" class="btn btn-success btn-xs" ng-click="ftpUploader.uploadAll()" ng-disabled="!ftpUploader.getNotUploadedItems().length">
     <span class="glyphicon glyphicon-upload"></span> Carica!
    </button>
    <button type="button" class="btn btn-warning btn-xs" ng-click="ftpUploader.cancelAll()" ng-disabled="!ftpUploader.isUploading">
     <span class="glyphicon glyphicon-ban-circle"></span> Annulla
    </button>
    <button type="button" class="btn btn-danger btn-xs" ng-click="ftpUploader.clearQueue()" ng-disabled="!ftpUploader.queue.length">
     <span class="glyphicon glyphicon-trash"></span> Rimuovi tutti
    </button>
   </div>
  </div> 
 </div>
 
</div>

<ul id="contextMenu" class="dropdown-menu" role="menu">
 <li>
  <a href="" ng-show="auxItem.editable" ng-click="openEditor()"  data-toggle="modal" data-target="#editorWindow">
    <i class="fa fa-pencil fa-fw"></i> Modifica
  </a>
 </li>
 <li>
  <a href="" ng-show="auxItem.isFile" ng-click="download()">
    <i class="fa fa-download fa-fw"></i> Scarica
  </a>
 </li>
 <li>
  <a href="" data-toggle="modal" data-target="#renameWindow">
   <i class="fa fa-font fa-fw"></i> Rinomina
  </a>
 </li>
 <li>
  <a href="" ng-click="openMove()">
   <i class="fa fa-arrows fa-fw"></i> Sposta
  </a>
 </li>
 <li>
  <a href="" data-toggle="modal" data-target="#deleteWindow">
   <i class="fa fa-trash fa-fw"></i> Elimina
  </a>
 </li>
</ul>

<div id="deleteWindow" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Conferma cancellazione file</h4>
   </div>
   <div class="modal-body">
    <h3>Sei sicuro di voler eliminare il file <b>{{auxItem.file.name}}</b>?</h3>
    <div class="row">
     <div class="col-md-12 text-right">
      <button class="btn btn-danger" ng-click="delete()">Si</button>
      <button class="btn btn-primary" data-dismiss="modal">No</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div id="renameWindow" class="modal fade">
 <div class="modal-dialog modal-sm">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Rinomina {{ auxItem.isFile | iif : "file" : "cartella"}}</h4>
   </div>
   <div class="modal-body">
    <div class="row v-spacer">
     <div class="col-md-12 text-right">
      <input type="text" class="form-control" ng-model="newFilename" placeholder="Inserisci il nome del file" required />
     </div>  
    </div>  

    <div class="row">
     <div class="col-md-12 text-right">
      <button class="btn btn-success" ng-click="rename()">Rinomina</button>
      <button class="btn btn-default" data-dismiss="modal">Annulla</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div id="newWindow" class="modal fade">
 <div class="modal-dialog modal-sm">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Nuov{{ auxItem.isFile | iif : "o file" : "a cartella"}}</h4>
   </div>
   <div class="modal-body">
    <div class="row v-spacer">
     <div class="col-md-12 text-right">
      <input type="text" class="form-control" ng-model="auxItem.filename" placeholder="Inserisci il nome del file" required />
     </div>  
    </div>  

    <div class="row">
     <div class="col-md-12 text-right">
      <button class="btn btn-success" ng-click="create()">Salva</button>
      <button class="btn btn-default" data-dismiss="modal">Annulla</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
 
 
<div id="editorWindow" class="modal fade">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modifica {{auxItem.file.name}}</h4>
   </div>
   <div class="modal-body">
    <div class="row v-spacer">
     <div class="col-md-12">
      <textarea id="CodeMirrorEditor"></textarea>
     </div>  
    </div>  

    <div class="row">
     <div class="col-md-12 text-right">
      <button class="btn btn-success" ng-click="rename()">Rinomina</button>
      <button class="btn btn-primary" data-dismiss="modal">Annulla</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>