<div class="container-fluid mt-3">
 <div>
  <h3>
   <i class="fa fa-user mr-2"></i> Profilo utente
  </h3>
  <hr class="my-4">
 </div>

 <form class="needs-validation" id="profileForm" novalidate ng-submit="editProfile()">
  <div class="form-row">
   <div class="col-12 col-md-6 mb-3">
    <label>Nome utente</label>
    <input type="text" class="form-control" ng-model="profile.user" placeholder="inserisci il nome utente" disabled />
   </div>   
  
   <div class="col-12 col-md-6 mb-3">
    <label>Nome</label>
    <input type="text" class="form-control" ng-model="profile.name" placeholder="inserisci il nome" required />
    <div class="invalid-feedback">Il nominativo &egrave; necessario!</div>
   </div>
  </div>

  <div class="form-row">
   <div class="col-12 col-md-6 mb-3">
    <label>Email</label>
    <input type="email" class="form-control" ng-model="profile.email" placeholder="inserisci l'email" required />
   </div>
   <div class="col-12 col-md-6 mb-3">
    <label>Nuova Password</label>
    <div class="input-group">
     <input type="password" class="form-control" ng-model="profile.password" id="password" placeholder="inserisci la password" aria-label="inserisci la password" />
     <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" ng-click="togglePassword('password')">
       <i class="fas" ng-class="{'fa-eye': !passwordShowed, 'fa-eye-slash': passwordShowed}"></i>
      </button>
     </div>
    </div>
    <div class="invalid-feedback">la password &egrave; necessaria!</div>
   </div>
  </div>
  

  <div class="form-row text-right d-block">
   <a href="#!/explore" class="btn btn-secondary mr-2">
    <i class="fas fa-times mr-2"></i> Annulla
   </a>
   
   <button type="submit" class="btn btn-success" ng-disabled="profileForm.$invalid">
    <i class="fas fa-check mr-2"></i> Salva
   </button>
  </div> 
 </form>
</div> 
